{{!--Pagina de recibida apenas se entra a la web--}}
<main class="index">
    <header class="masthead d-flex">
        <div class="d-flex flex-column container text-center my-auto">
            <h1 class=" mb-3 text-white">POKEMÓN</h1>
            <a href="/signin" class="mx-auto mt-4 mb-4 btn btn-primary ">
            Ver pokemones</a>
            <a href="/signin" class="mx-auto mt-4 mb-4 btn btn-primary ">
            Inicia sesión</a>
            <a href="/signin" class="mx-auto mt-4 mb-4 btn btn-primary ">
            Registrarse</a>
        </div>
    </header>
</main>