{{!--Pagina de recibida apenas se inicia sesión--}}
<div class="inicio">
<div class="container ">
    <div class="row ">
        <div class="col-md-4 mx-auto">
            <div class="card text-center" style="background-color: #131339; border-radius: 10px">
                <div class="card-body " >
                    <h3 class="text-white">¡Hola {{user.fullname}}!</h3> 
                    <a href="/pokemons" class="btn btn-primary m-4">
                        Ver pokemones
                    </a>  
                </div>
            </div>
        </div>
    </div>
</div>
</div>