<div class="inicio">
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto " >
            <div class="card text-center" style="background-color: #131339; border-radius: 10px;">
                <div class="card-header text-white">
                    <h3>Registro de Usuario</h3>
                </div>
                <div class="card-body" style="background-color: #131339; border-radius: 10px">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control" autofocus required="" pattern="[a-zA-Z\s]+"> 
                        </div>
                        <div class="form-group">
                            <input type="email" name="username" placeholder="Correo electronico" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required="">
                        </div>
                        <div class="form-group">
                            <button class="btn  btn-block" style="background-color: #38b6ff;">
                                Crear Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>