<div class="inicio">
<div class="container p-4">
    <div class="row ">
        <div class="col-md-4 mx-auto">
            <div class="card text-center text-white" style="background-color: #131339; border-radius: 10px;">
                <div class="card-header ">
                    <h3>Inicio de Sesión</h3>
                </div>
                <div class="card-body" style="background-color: #131339; border-radius: 10px">
                    
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Correo electronico" class="form-control" autofocus required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required="">
                        </div>
                        
                            <button class="btn  btn-block" style="background-color: #38b6ff;">
                                Entrar
                            </button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>